:root {
    --main-bg-color: #ff4346;
    --second-bg-color: #300809;
    --third-color: white;
    --background-image: url('../imageS/Jap.jpg');
    --hover: #ff2a34;
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    grid-template-rows: 2fr 6fr 2fr;
}

.container-1 {
    background-color: var(--main-bg-color);
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-2 {
    grid-row: 1/4;
    background-color: var(--second-bg-color);
}

.container-3 {
    background-color: var(--main-bg-color);
    grid-row: 1/3;
    font-size: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-3 ol {
    overflow-y: auto;
    margin-left: 20px;
    margin-top: 15px;
    max-height: 80%;
    list-style-position: inside;
}

.container-4 {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-bar {
    display: flex;
    width: 80%;
    border: 1px solid var(--third-color);
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    flex: 1 1 auto;
    transition: transform 0.5s ease;
    min-width: 0;
}

.nav-bar a:hover {
    background-color: var(--hover);
}

.container-5 {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
    padding: 10px;
    overflow: auto;
}

.container-6 {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    overflow: auto;
    padding-bottom: 10px;
}

.container-6 ul {
    margin-left: 20px;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-position: inside;
}

.cont-cont1 {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    color: var(--third-color);
    text-align: center;
    background-color: var(--second-bg-color);
}

@media (max-width: 900px) {
    .container-6 h2 {
        text-align: center;
    }

    .container-3 h3 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .container-1 {
        width: 60vw;
        flex-direction: column;
    }

    .container-2 {
        width: 5vw;
    }

    .container-3 {
        width: 35vw;
    }

    .container-4 .nav-bar{
        flex-direction: column;
    }

    .container-5 {
        flex-direction: column;
    }
}

@media (max-height: 500px) {
    .container-6 {
        font-size: 40%;
    }
}

@media (max-height: 600px) {
    .container-6 {
        font-size: 70%;
    }
}